.reserve_container{
    -fx-background-color: #EEEEEE ;
}

.reserve_container Text{
    -fx-text-fill: #000000;
    -fx-font-size: 2em;
    -fx-font-family: "Calibri Light";
}

.reserve_container .list-view{
    -fx-background-color: #EEEEEE;
    -fx-label-padding: 10;
}

.reserve_container.list-cell{
    -fx-background-color: #EEEEEE;

}
